#imgHome {
    background: url("../Images/Accueil.webp");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: rgb(100, 12, 12);
    font-size: 75px;
    filter: drop-shadow(3px 3px rgb(100, 12, 12));

}

.buton {
    background-color: red; 
    color: white; 
    padding: 15px 40px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 8px;
    transition: background-color 0.3s ease;
    
}

@media imgHome {

}